body{
  margin: 2%;

}
#out{

}
.input_area{
  font-size: 75%;
  text-align: center;
}

.asses{
  color: brown;
  font-size: 100%;
}
.btnsize{

  font-size: 100%;
}
.btn{
  font-size: 75%;
}
.test_class{
  background-color: #f5f0f0;
  border: 4px double black;
  border-bottom-color: #1b1e21;
}
.sticky-top{
  position: relative;
}
